@import "tailwindcss";

:root {
  --background: #ffffff7d;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-white-400 {
  color: #fff;
}

.nav-links {
  color: white;
  font-weight: bold;
}

a:hover {
  color: yellow !important;
}

.margin-auto {
  margin: 0px auto;
  display: block;
}